<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/view.css">
    <title>Json response</title>
</head>
<body>
    <div id="center">
    <form action="/api" method="post" id="forminput">
        <textarea name="input" id="input" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
    <div id="apiresp"></div>
    <script src="../assets/js/apiresponse.js"></script>
</body>
</html>